body{
    background-color: lightgray;
    color: black;
    font-size: 16pt;
    margin-bottom: 40px;

}
h1{
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    font-size: 30pt;  
}
header{
    font-family: 'Secular One', sans-serif;
    font-weight: bolder;
    font-size: 30pt;

}
h2{
    font-family: 'Secular One', sans-serif;
    font-weight: lighter;
}
p{
    font-family: 'Rubik', sans-serif;
    margin: 20px;
    width: 60vw;
}
a{
    font-family: 'Rubik', sans-serif;
    float:right;
    margin-right: 30px;
}
section{
    display: block;
}
button{
    border-radius: 0;
    border: 0;
    padding: 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 16pt;
    background-color: black;
    color: white;
}
button:hover{
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    background-color: rgb(95, 95, 95);
}
.yeet{
    display:none;
}